body{
    background-color: rgb(93, 186, 230);
    
}

.line1{
    font-family: 'Noto Nastaliq Urdu', serif;
}
.line2{
    font-family: 'Rubik Burned', system-ui;
}
.line3{
    font-family: 'Rubik Burned', system-ui;
}